 {% extends "base.html" %}
{% block nav %}
                                            <a href="/" class="nav-link nav-link-faded has-icon active">Recruitment Site</a>
                                            <a href="/fb_rec" class="nav-link nav-link-faded has-icon">Facebook Recruitment</a>
                                            <a href="/analytics" class="nav-link nav-link-faded has-icon">Statistics</a>
{% endblock %}
{%block search%}
        <div class="inner-main">
            <!-- Inner main header -->
            <div class="inner-main-header">
                <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                <select class="custom-select custom-select-sm w-auto mr-1">
                    <option selected="">Latest</option>
                    <option value="1">Popular</option>
                    <option value="2">Facebook</option>
            
                </select>
                <span class="input-icon input-icon-sm ml-auto w-auto">
                    <form method = "post" action = "/search" class = 'query'>
                    <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search" /name = 'query'>
                    </form>
                </span>
            </div>
        <div>
{% endblock %}
{% block content %}
            <!-- Forum List -->

            <!-- /Forum List -->

            <!-- Forum Detail -->
            
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                <a href="javascript:history.back()" class="btn btn-light btn-sm mb-3 has-icon"  data-target=".forum-content"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="media forum-item">
                            <a href="javascript:void(0)" class="card-link">
                                <img src={{job.img}} class="rounded-circle" width="50" alt="User" />
                            </a>
                            <div class="media-body ml-3">
                                <a href="javascript:void(0)" class="text-secondary">{{job.company}}</a>
                                <small class="text-muted ml-2">{{job.update_time}}</small>
                                <h5 class="mt-1">{{job.title}}</h5>
                                <div class="mt-3 font-size-sm">
                                    {% for data in job.cleaned_text %}
                                    <p>{{data}}</p>
                                    {% endfor%}
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Forum Detail -->

            <!-- /Inner main body -->
        </div>
        <!-- /Inner main -->
    </div>

    <!-- New Thread Modal -->
    <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header d-flex align-items-center bg-primary text-white">
                        <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="threadTitle">Title</label>
                            <input type="text" class="form-control" id="threadTitle" placeholder="Enter title" autofocus="" />
                        </div>
                        <textarea class="form-control summernote" style="display: none;"></textarea>

                        <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                            <input type="file" class="custom-file-input" id="customFile" multiple="" />
                            <label class="custom-file-label" for="customFile">Attachment</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
