<!DOCTYPE html>
<html class="zc-html">
    <head>
        <meta charset="utf-8" />
        <title>ZingSoft Demo</title>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <style>
            .zc-body {
                background: #f9f9f9;
            }
            .chart--container {
                height: 100%;
                width: 100%;
                min-height: 650px;
            }
            .zc-ref {
                display: none;
            }
        </style>
    </head>
    ​
    <body class="zc-body">
        ​
        <div id="myChart" class="chart--container"><a href="https://www.zingchart.com/" rel="noopener" class="zc-ref">Powered by ZingChart</a></div>
      <script src = "{{url_for("static",filename = "js/map.js")}}"></script>

    </body>
</html>
